<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['CrewList']" class="navbar-brand">On-Call</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['CrewList']">All Crew Members</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Manager Options
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['AddCrew']">Add Crew</a>
            </li>
            <li>
              <a [routerLink]="['ManagerConsole/']">Manager Console</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Calendar Options
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['WeeklyCalendar/']">Weekly Calendar</a>
            </li>
            <li>
              <a [routerLink]="['MonthlyCalendar/']">Monthly Calendar Calendar</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Change Request Options
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['CrewChangeRequest']">Request Change</a>
            </li>
            <li>
              <a [routerLink]="['PendingRequests/']">Pending Requests</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <!-- <a [routerLink]="['Login/']">Login</a> -->
          </li>
        </ul>
      </div>
      <!-- <form id="searchForm"  class="navbar-form navbar-right"  >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Crew" >
          </div>
          <button class="btn btn-default" >
            Search
          </button>
        </form> -->
    </div>
  </div>
</div>