<div>
  <h3>
    On Call List for: {{onCallDateAsString}}

  </h3>


  <p>
    sort by product type (balances and holdings, portfolio watch etc)
  </p>

  <p>
    Who is on call - list of crew memebers
  </p>

 

  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
          Filters
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li >
            <a>Manager Name</a>
            <input type="text" id="myInputFirstName" placeholder="First Name...">
            <input type="text" id="myInputLastName" placeholder="Last Name...">
          </li>
          <li >
              <a>Product</a>
              <input type="text" id="myInputProductName" placeholder="Products...">
            </li>
          <li>
            <button class="btn btn-primary" (click)="applyFilters()">Apply Filters</button>  
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <p>
    Active filters:
  </p>



  <!-- <div class="row">
    <app-crew-display (buttonClick) = "redirectToCrewProfile($event)" 
      *ngFor="let crew of crewMembers" [crew]="crew">
    </app-crew-display>
  </div> -->
  <br>
  <br>
  <div *ngFor="let crew of crewDataList" class="row">
    {{ crew.FirstName }}
    {{ crew.LastName }}
  </div>

</div>

