.changeColor {
    background-color: lightgray;
    text-decoration-color: black;
    color: black;
}

.cal-cell-top ng-star-inserted {
    background-color: white;
}

/* .btn {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-secondary {
    background-color: aliceblue;
    padding-left: 5px;
    padding-right: 5px;
} */